body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

section {
    margin-top: 20px;
}

h1, h2 {
    color: #f0efef;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
